*{
    padding: 0;
    margin:0;
}
body{
    background-color: #FFF7EF;
}
.nav-container{
    width: auto;
    list-style-type: none;
    background-color: #C1AE9F;
    overflow: hidden;
    
}
.nav-container li {
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
    display: inline;
    margin: 50px;
}
.nav-container a {
    text-decoration: none;
    color: black;
    font-size: 50px;
    font-family: 'Trebuchet MS';
}

.section
{
    display: inline-block;
    width: auto;
    height: 100%;
    text-align: center;
    padding: 20px;
}

.section:hover
{
    background-color: #d2b7a2;
}