/*Created by Adam Plesca*/
/*general*/
*{
    padding: 0;
    margin:0;
    font-family: 'Trebuchet MS';
}
body{
    background-color: #FFF7EF;
}
/*nav-bar*/
.nav-container{
    width: auto;
    list-style-type: none;
    background-color: #C1AE9F;
    overflow: hidden;
    
}
.nav-container li {
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
    display: inline;
    margin: 50px;
}
.nav-container a {
    text-decoration: none;
    color: black;
    font-size: 50px;
}
.section{
    display: inline-block;
    width: auto;
    height: 100%;
    text-align: center;
    padding: 20px;
}
.section:hover{
    background-color: #d2b7a2;
}
/*clickable div's*/
.icons{
    width: 500px;
    height: 500px;
    text-align: center;
    float: left;
    margin: 50px;
}
.text{
    width: 500px;
    height: 70px;
    text-align: center; 
    font-size: 50px;
    background-color: #e6d1c1;
}
.bgimage{
    width: 500px;
    height: 429px;
    text-align: center;
}
.icons .text:hover{
    background-color: #d2b7a2;
}
.indexImg{
    width: 500px;
    height: 429px;
}
/*special offer section styling*/
.json-container{
    width: auto;
    height: auto;
    margin: 10px;
}
.text-container{
    width: auto;
    height: 80px;
    font-size: 60px;
    text-align: center;
    background-color: #C1AE9F;
}
#btn{
    float: right;
    margin: 15px;
    width: 300px;
    height: 50px;
    font-size: 30px;
}
/*json data styling*/
.name{
    display: flex; 
    float: left;    
    font-size: 30px;
    color: black;  
    margin: 1px; 
    background-color: white;
    flex-wrap: wrap;
    width: 33.12%;
    border: 1px solid black;
    overflow: hidden;
}
/*targets elements with the class "indexImg"*/
.name > .indexImg{
    display: block; 
    flex-basis: 100%;
}
.name > p{
    text-align: center;
    width: 100%;
}
